.bet-container {
    width: 100vw;
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.count-container {
    font-size: 2rem;
}

.placed-bet {
    font-size: 2rem;
    line-height: 1.5rem;
}

.betting-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20em;
    height: 7em;
}

.bet-amount-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15em;
}

.increment-buttons {
    width: 8em;
    display: flex;
    justify-content: space-around;
}

.bet-amount {
    width: 10em;
}

.decrement-buttons {
    width: 8em;
    display: flex;
    justify-content: space-around;    
}

.bet-button {
    font-family: 'Rokkitt', 'Serif';
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    height: 2em;
    width: 2em;
    padding: 10px 0 10px 0;
    border-radius: 50%;
    border: 2px solid white;
}

.bet-button-r {
    background-color: red;
    outline: 2px solid red;
}

.bet-button-b {
    background-color: black;
    outline: 2px solid black;
}

.best-hand-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 15em;
}

.selected-best {
    width: 7em;
}

.place-bet {
    height: 2em;
    width: 8em;
    font-size: 1.3rem;
    font-weight: bold;
    border: 2px dashed white;
    border-radius: 7px;
    background-color: rgba(0,0,0,0);
    font-family: 'Rokkitt', 'Serif';
    color: white;

}