.card-flex {
    display: flex;
    justify-content: center;
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    font-size: large;
    color: black;
  }
  
  /* .card-template {
    display: flex;
    width: 96px;
    height: 134px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
  } */

  .card-template {
    display: flex;
    width: 120px;
    height: 168px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  /* .pips {
    height: 89px;
    width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
  } */

  .pips {
    height: 89px;
    width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .pip {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
  }

  .container-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 33%;
  }
  
  .container-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 33%;
  }
  
  .container-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 33%;
  }
  
  .suit-corner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .suit-left {
    position: relative;
    /* top: 10% */
  }
  
  .suit-centre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .suit-right {
    transform: rotateX(180deg) rotateY(180deg);
    position: relative;
    /* bottom: 10%; */
  }