body {
  background-image: url("../public/images/poker\ bg.png");
  background-size: cover;
  font-family: 'Rokkitt', 'Serif';
  font-weight: bold;
  font-size:x-large
}

.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
/* .card-flex {
  display: flex;
  justify-content: center;
} */

/* .card-template {
  display: flex;
  width: 64px;
  height: 89px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
} */

.hand-flex {
  width: 70vw;
  margin:auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;

}