body {
  background-image: url("../public/images/poker_bg.png");
  background-size: cover;
  font-family: 'Rokkitt', 'Serif';
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.title {
  margin: 1rem;
}

.betting-module {
  height: fit-content;
}

.content-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 2rem;
}

.helpChip {
  position: absolute;
  max-height: 6em;
  top: 2em;
  right: 2em;
}

.chips {
  max-height: 6em;
  max-width: 6em;
  user-select: none;
}

#draw-chip-area {
  width: 20vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

#draw-chip {
  display: flex;
  align-self: center;
}

.card-area {
  display: flex;
  width: 52em;
  /* 52em haha sometimes my wit frightens me I'm too funny */
  height: 10.5rem;
  position: relative;
  z-index: 0;
}

.card-outlines {
  display: flex;
  justify-content: space-evenly;
  width: 52em;
  height: 10.5rem;
  position: absolute;
  z-index: 1;
}

.hand-flex {
  position: relative;
  z-index: 2;
  width: 52em;
  height: 10.5rem;
  display: flex;
  justify-content: space-evenly;
}

#test-hand {
  width: 20em;
  height: 10em;
  position: absolute;
  right: 0px;
  top: 200px;
}

#card-one {
  display: inline-block;
  transform: rotate(-10deg)
}

#card-two {
  display: inline-block;
  transform: rotate(5deg) translate(-40px, 5px)
}

.game-over-container {
  position: absolute;
  width: 100%;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.game-over-message {
  /* position: absolute;
  top: 20%;
  left: 16%;
  z-index: 3; */
  user-select: none;
}

.g-o {
  font-size: 3rem;
  text-shadow: 3px 3px 1px #000, 3px -3px 1px #000, -3px 3px 1px #000, -3px -3px 1px #000, 3px 0px 1px #000, 0px 3px 1px #000, -3px 0px 1px #000, 0px -3px 1px #000;
}

.g-o-subline {
  font-size: 1.75rem;
  text-shadow: 3px 3px 1px #000, 3px -3px 1px #000, -3px 3px 1px #000, -3px -3px 1px #000, 3px 0px 1px #000, 0px 3px 1px #000, -3px 0px 1px #000, 0px -3px 1px #000;
}

.card-outline {
  display: flex;
  /* width: 120px;
  height: 168px; */
  width: 7.5rem;
  height: 10.5rem;
  margin: -4px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 5px;
  border-style: dashed;
  opacity: 0.7;
}

.royal-flush {
  --bg-size: 400%;
  --color-one: rgba(191,149,63,1);
  --color-two: rgba(252,246,186,1);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .royal-flush {
    animation: move-bg 5s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }

  #card-animate {
    animation: flip-card 1.5s linear 1 forwards;

  }
  @keyframes flip-card {
    
  }
}