body {
  background-image: url("../public/images/poker_bg.png");
  background-size: cover;
  font-family: 'Rokkitt', 'Serif';
  font-weight: bold;
  font-size:x-large
}

.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
/* .card-flex {
  display: flex;
  justify-content: center;
} */

/* .card-template {
  display: flex;
  width: 64px;
  height: 89px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
} */

.content-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 95vh;
}

.chips {
  height: 6em;
  width: 6em;
  user-select: none;
}

#draw-chip {
  display: flex;
  align-self: center;
}

.card-area {
  display: flex;
  width: 70vw;
  height: 168px;
  position: relative;
  z-index: 0;
}

.card-outlines {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
  height: 168px;
  position: absolute;
  z-index: 1;
}

.hand-flex {
  position: relative;
  z-index: 2;
  width: 70vw;
  height: 168px;
  display: flex;
  justify-content: space-evenly;
}

.game-over-container {
  position: absolute;
  width: 70vw;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.game-over-message {
  /* position: absolute;
  top: 20%;
  left: 16%;
  z-index: 3; */
  user-select: none;
}

.g-o {
  font-size: 3rem;
  text-shadow: 3px 3px 1px #000, 3px -3px 1px #000, -3px 3px 1px #000, -3px -3px 1px #000, 3px 0px 1px #000, 0px 3px 1px #000, -3px 0px 1px #000, 0px -3px 1px #000;
}

.g-o-subline {
  font-size: 1.75rem;
  text-shadow: 3px 3px 1px #000, 3px -3px 1px #000, -3px 3px 1px #000, -3px -3px 1px #000, 3px 0px 1px #000, 0px 3px 1px #000, -3px 0px 1px #000, 0px -3px 1px #000;
}

.card-outline {
  display: flex;
  width: 120px;
  height: 168px;
  margin: -4px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 5px;
  border-style: dashed;
  opacity: 0.7;
}

.royal-flush {
  --bg-size: 400%;
  --color-one: rgba(191,149,63,1);
  --color-two: rgba(252,246,186,1);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .royal-flush {
    animation: move-bg 5s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}